@forward "./variavles";
@forward "./mixin";
@forward "./breakpoint";
@forward "./grid";

@use "./variavles" as *;
@use "./mixin" as *;
@use "./breakpoint" as *;
@use "./grid" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include tablet {
    width: 100%;
    padding: 0 20px;
  }
  @include mobile {
    width: 100%;
  }
}

.err {
  font-size: $font-size-s;
  background-color: $color-red;
  color: $color-white;
  border-radius: $border-radius-10;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
  width: 100%;
}

.mess {
  font-size: $font-size-s;
  background-color: $color-green;
  color: $color-white;
  border-radius: $border-radius-10;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
}

button,
input,
textarea,
select {
  outline: unset;
  border: unset;
  background-color: unset;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-loading {
  padding: 10px 16px;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 500;
  border-radius: $border-radius-10;
  font-size: $font-size-s;
  transition: all 0.3s;
  width: 100%;
  height: 50px;
  @include flex(center, center);
  cursor:unset;
  .loading {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: $color-white;
    animation: loading 1.5s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-70px, 0) rotate(-180deg);
  }
  50% {
    transform: translate(0, 0) rotate(360deg);
  }
  75% {
    transform: translate(70px, 0) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
