@use "./variables" as *;

$themes: (
  light: (
    text1: $color-txt-light,
    text2: $color-txt-light-extra,
    bg1: $color-body-light,
    bg2: $color-main-light,
    bg3: $color-bg3-light,
    rgba: $rgba-light,
    primary: $color-primary,
    border: #e8e8e8,
    box-shadow: $box-shadow-light,
  ),
  dark: (
    text1: $color-txt-dark,
    text2: $color-txt-dark-extra,
    bg1: $color-body-dark,
    bg2: $color-main-dark,
    bg3: $color-bg3-dark,
    rgba: $rgba-dark,
    primary: $color-primary,
    border: #383838,
    box-shadow: $box-shadow-dark,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin overlay {
  background-color: rgba($color: #000000, $alpha: 0.6);
}

@mixin text($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin hideText($width) {
  width: $width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin button($color, $bg) {
  padding: 12px 16px;
  background-color: $bg;
  color: $color;
  font-weight: 500;
  // border: 2px solid $bg;
  border-radius: $border-radius-10;
  font-size: $font-size-s;
  cursor: pointer;
  transition: all 0.3s;
  @include flex(center, center);
  white-space: pre;
  gap: 8px;
  transition: all .3s;
  & > span,
  i {
    white-space: pre;
    color: $color;
  }
  &:not(:disabled) {
    &:hover {
      opacity: 0.8;
      scale: 0.98;
    }
  }
  &:disabled {
    background-color: $color-gray;
    color: $color-txt-gray;
    border: none;
    cursor: default;
  }
}

@mixin button-line($color, $bg) {
  padding: 10px 16px;
  background-color: transparent;
  color: $color;
  font-weight: 500;
  border: 2px solid $color;
  border-radius: $border-radius-10;
  font-size: $font-size-s;
  cursor: pointer;
  transition: all 0.3s;
  @include flex(center, center);
  width: max-content;
  gap: 6px;
  span,
  i {
    color: $color;
    font-size: $font-size-s;
  }
  &:hover {
    background-color: $color;
    color: $bg;
    span,
    i {
      color: $bg;
    }
  }
}
