$color-body-light: #F3F4FA;
$color-main-light: #fff;
$color-txt-light : #2d2d2d;
$color-txt-light-extra: #6a6a6a;

// $color-body-dark: #212324;
// $color-main-dark: #202020;
$color-body-dark: #1d1e24;
$color-main-dark:#16171b ;
$color-txt-dark : #fff;
$color-txt-dark-extra: #cacaca;

$color-primary: #007aff;
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #3498db;
$color-green: #4CAF50;
$color-yellow: #ff9f0a;
$color-red: #ff453a;
$color-orange: #FF9066;

$font-size-s: 1rem;
$font-size-m: 1.225rem;
$font-size-l: 1.5625rem;
$font-size-xl: 2rem;

$spacing: 48px;
$spacing-mobile: 24px;

$rgba-dark: rgba($color: #ffffff, $alpha: 0.24);  
$rgba-light:  rgba($color: #000000, $alpha: 0.24);

$box-shadow-light: rgba(100, 100, 111, 0.103) 0px 7px 29px 0px;
$box-shadow-dark: rgba(74, 73, 73, 0.218) 0px 4px 16px 4px;

$border-radius-30: 30px;
$border-radius-20: 20px;
$border-radius-10: 10px;
$border-radius: 10px;

$width-siderbar-open: 250px;
$width-siderbar-close: 80px;

$height-header: 60px;

$mobile-width: 700px;
$tablet-width: 1366px;

$transition: all .3s;



