@use "../../scss/" as *;

.header {
  @include themify($themes) {
    ul{
      list-style: none;
    }
    .header__wrapper {
      z-index: 9999;
      // box-shadow: themed(box-shadow);
      // background-color: themed("bg2");
      background-color: transparent;
      position: fixed;
      top: 0;
      width: 100%;
      transition: all 0.3s;
      &.shrink {
        box-shadow: themed(box-shadow);
        background-color: themed("bg2");
      }
      &.bg {
        box-shadow: themed(box-shadow);
        background-color: themed("bg2");
      }
      @include mobile {
      }
      .container {
        @include flex(center, space-between);
        height: $height-header;
        position: relative;
        .header__wrapper__logo {
          @include flex(center, unset);
          gap: 10px;
          cursor: pointer;
          @include mobile {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          @include tablet {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          img {
            --size: 40px;
            width: var(--size);
            height: var(--size);
          }
          h2 {
            font-size: $font-size-l;
            color: themed("text1");
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
          }
        }
        .header__wrapper__control {
          height: 100%;
          @include mobile {
            display: none;
          }
          @include tablet {
            display: none;
          }
          ul {
            height: 100%;
            @include flex(center, space-between);
            gap: 20px;
            list-style: none;
            li {
              height: 100%;
              a {
                @include flex(center, center);
                gap: 4px;
                height: 100%;
                padding: 0 10px;
                position: relative;
                i {
                  --size: 20px;
                  width: var(--size);
                  height: var(--size);
                  color: themed("text1");
                }
                span {
                  font-weight: 500;
                  color: themed("text1");
                  font-weight: 500;
                  font-size: $font-size-s;
                }
                &::after {
                  content: "";
                  position: absolute;
                  height: 4px;
                  width: 100%;
                  background-color: $color-primary;
                  bottom: 0;
                  border-radius: $border-radius-20;
                  left: 50%;
                  transform: translateX(-50%);
                  transition: all 0.3s;
                  width: 0;
                }
                &:hover,
                &.active {
                  i {
                    color: themed("primary");
                  }
                  span {
                    color: themed("primary");
                  }
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        .header__wrapper__auth {
          @include flex(center, unset);
          gap: 10px;
          height: 100%;
          @include mobile {
            display: none;
          }
          @include tablet {
            display: none;
          }
          &__darkMode {
            background-color: transparent;
            padding: 10px;
            border-radius: $border-radius-10;
            border: 1.6px solid themed("border");
            cursor: pointer;
            @include flex(center, center);
            i {
              @include flex(center, center);
              --size: 20px;
              width: var(--size);
              height: var(--size);
              color: themed("text1");
              font-size: $font-size-m;
            }
          }
          &__user {
            @include button($color-white, $color-primary);
          }
          &__company {
            a {
              font-size: $font-size-s;
              font-weight: 500;
              color: themed("text1");
              font-weight: 500;
            }
          }
          .hr-col {
            height: calc($height-header - 40px);
            border: 1.2px solid themed("border");
            border-radius: $border-radius-10;
          }
        }
        .header__wrapper__control-mobile {
          position: fixed;
          top: 0;
          left: 0;
          width: max-content;
          height: 100vh;
          background-color: themed("bg2");
          padding: 28px;
          display: none;
          box-shadow: themed("box-shadow");
          transform: translateX(-100%);
          transition: all 0.3s;
          @include flex(start, space-between);
          height: 100vh;
          flex-direction: column;
          @include mobile {
            display: flex;
          }
          @include tablet {
            display: flex;
          }
          &.open {
            transform: translateX(0);
          }
          ul {
            width: 100%;
            @include flex(center, space-between);
            gap: 10px;
            flex-direction: column;
            li {
              width: 100%;
              padding: 10px;
              a,
              button {
                @include flex(center, unset);
                gap: 4px;
                height: 100%;
                position: relative;
                font-weight: 500;
                color: themed("text1");
                font-weight: 500;
                font-size: $font-size-s;
                i {
                  --size: 20px;
                  width: var(--size);
                  height: var(--size);
                  color: themed("text1");
                }
                &:hover,
                &.active {
                  color: $color-primary;
                  i {
                    color: $color-primary;
                  }
                }
              }
            }
            hr {
              width: 100%;
              height: 1px;
              background-color: themed("border");
              border: none;
            }
          }
          &__option__logout {
            width: 100%;
            padding: 10px;
            @include flex(center, unset);
            gap: 8px;
            color: themed("text1");
          }
        }
        .header__wrapper__btn-mobile {
          display: none;
          @include mobile {
            display: block;
          }
          @include tablet {
            display: block;
          }
          button {
            i {
              font-size: $font-size-l;
              color: themed("text1");
            }
          }
        }
      }
    }
  }
}
