@use "../../scss/" as *;

.listJobCol {
  @include themify($themes) {
    width: 100%;
    &__wrapper {
      background-color: themed("bg2");
      border-radius: $border-radius-10;
      padding: 20px;
      &__header {
        margin-bottom: 10px;
        h4 {
          font-size: $font-size-m;
          color: themed("text1");
          font-weight: 500;
        }
      }
      &__body {
        @include flex(unset, unset);
        flex-direction: column;
        gap: 10px;
      }
      &__bottom {
        @include flex(center, center);
        width: 100%;
        margin-top: 20px;
        button {
          @include flex(center, center);
          color: themed('text1');
          gap: 8px;
          width: 100%;
          transition: all .3s;
          &:hover{
            color: $color-primary;
          }
          h4{
            font-size: $font-size-s;
          }
          i{
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.col__itemJob {
  @include themify($themes) {
    &__wrapper {
      border: 1px solid themed("border");
      padding: 8px;
      border-radius: $border-radius-10;
      @include flex(start, unset);
      gap: 10px;
      flex-direction: column;
      & > .header {
        @include flex(center, unset);
        gap: 8px;
        img {
          --size: 50px;
          min-width: 50px;
          min-height: 50px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 1.8px solid $color-primary;
          object-fit: cover;
        }
        & > .text {
          a {
            position: relative;
            &:hover {
              .tooltip {
                scale: 1;
              }
            }
            .nameJob {
              font-size: $font-size-s;
              color: themed("text1");
              font-weight: 600;
              transition: all 0.3s;
              @include text(1);

              &:hover {
                color: themed("primary");
              }
            }
            & > .tooltip {
              position: absolute;
              left: 50%;
              bottom: calc(100% + 8px);
              transform: translateX(-50%);
              content: attr(data-tooltip);
              width: max-content;
              max-width: 100%;
              height: max-content;
              background-color: rgba($color: $color-black, $alpha: 0.8);
              color: $color-white;
              padding: 6px;
              font-size: $font-size-xs;
              border-radius: $border-radius-10;
              transform-origin: left bottom;
              transition: all 0.2s;
              scale: 0;

              &::before {
                content: "";
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(100%);
                position: absolute;
                transform-origin: left top;
                border: 10px solid transparent;
                border-top-color: rgba($color: $color-black, $alpha: 0.8);
              }
            }
          }

          .nameCompany {
            font-size: $font-size-xs;
            font-weight: 400;
            color: themed("text2");
            transition: all 0.3s;
            &:hover {
              color: themed("primary");
            }
          }
        }
      }
      & > .bottom {
        @include flex(center, space-between);
        gap: 8px;
        width: 100%;
        & > .left {
          @include flex(center, unset);
          flex-wrap: wrap;
          gap: 8px;
          & > div {
            background-color: themed("bg1");
            width: max-content;
            padding: 6px;
            border-radius: $border-radius-10;
            font-size: $font-size-xs;
            color: themed("text2");
            @include flex(center, unset);
            gap: 6px;
          }
        }
        .button__save {
          font-size: 1.4rem;
          color: $color-yellow;
          border-radius: $border-radius-10;
          padding: 8px;
          @include flex(center, center);
          transition: all 0.3s;
          background-color: themed("bg1");
          color: $color-txt-red;
          transition: all 0.3s;
          &:hover {
            background-color: rgba(themed("bg1"), 0.8);
          }
          i {
            @include flex(center, center);
            // color: themed("text2");
            font-size: 1.2rem;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
