@use "../../scss/" as *;

body{
    overflow: hidden;
}

.Modal {
  @include themify($themes) {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.24);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    &__wrapper{
        background-color: themed('bg1');
        padding: $spacing;
        border-radius: 20px;
    }
  }
}
