@use "../../scss/" as *;


.Modal {
  @include themify($themes) {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.24);
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    display: none;
    z-index: 99999;
    &.active{
      display: flex;
    }
    &__wrapper {
      background-color: themed("bg2");
      border-radius: 20px;
      min-width: 400px;
      min-height: 400px;
      max-height: calc(100vh - $height-header);
      &__header {
        @include flex(center, space-between);
        padding: 20px;
        h4 {
          font-size: $font-size-m;
          color: themed("text1");
        }
        .btn_close {
          cursor: pointer;
          background-color: transparent;
          border-radius: 50%;
          padding: 10px;
          @include flex(center, center);
          transition: all 0.3s;
          user-select: none;
          &:hover {
            background-color: themed("bg1");
          }
          i {
            @include flex(center, center);
            --size: 20px;
            width: var(--size);
            height: var(--size);
            font-size: $font-size-l;
          }
        }
      }
      &__body {
      }
    }
  }
}
