@use "../../scss/" as *;

.signin {
  @include themify($themes) {
    width: 100%;
    &__header {
      @include flex(center, unset);
      flex-direction: column;
      margin-bottom: 20px;
      gap: 10px;
      &__logo {
        @include flex(center, unset);
        flex-direction: column;
        img {
          --size: 50px;
          width: var(--size);
          height: var(--size);
          object-fit: cover;
        }
      }
      h2 {
        font-size: $font-size-l;
        color: themed("primary");
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    &__body {
      width: 100%;
      .item {
        @include flex(unset, unset);
        margin-bottom: 10px;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        label {
          font-size: $font-size-m;
          font-weight: 500;
          color: themed("text2");
        }
        input {
          background-color: themed("bg2");
          padding: 20px 20px;
          font-size: $font-size-m;
          width: 100%;
          border-radius: $border-radius;
          color: themed("text1");
        }
      }
      .btn-signin {
        margin-top: 20px;
        @include button($color-white, $color-primary);
        width: 100%;
      }
      .link-signup {
        @include flex(center, unset);
        gap: 8px;
        font-size: $font-size-m;
        color: themed("text1");
        margin-top: 20px;
        h4 {
          font-size: $font-size-m;
          color: themed("text1");
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
