@use '../../scss/' as *;

.box-loader {
  width: 100%;
  height: 100%;
  min-height: 100px;
  min-width: 100px;
  @include flex(center, center);
  margin-top: $spacing;
  &__loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-bottom-color: $color-primary;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}