@use "../../scss/" as *;

.itemCompany {
  @include themify($themes) {
    &__wrapper {
      // background-color: themed("bg1");
      border: 1px solid themed('border');
      padding: 20px;
      border-radius: $border-radius-10;
      height: 260px;
      position: relative;
      @include flex(unset, space-between);
      flex-direction: column;
      cursor: pointer;
      &:hover {
        box-shadow: themed("box-shadow");
      }
      .btn__follow {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        cursor: pointer;
        padding: 8px;
        transition: all 0.3s;
        &.active {
          i:nth-child(1) {
            display: none;
          }
          i:nth-child(2) {
            display: block;
          }
        }
        &:hover {
          i:nth-child(1) {
            display: none;
          }
          i:nth-child(2) {
            display: block;
          }
        }
        i {
          font-size: $font-size-l;
          color: $color-red;
          &:nth-child(2) {
            display: none;
          }
        }
      }
      &__header {
        @include flex(unset, unset);
        flex-direction: column;
        gap: 6px;
        &__image {
          border-radius: $border-radius-10;
          border: 1.4px solid $color-primary;
          width: max-content;
          overflow: hidden;
          @include flex(center, center);
          img {
            --size: 50px;
            width: var(--size);
            height: var(--size);
            object-fit: cover;
          }
        }
        h4 {
          font-size: $font-size-m;
          color: themed("text1");
          @include text(1);
        }
        .desc {
          color: themed("text1");
          font-size: $font-size-s;
          @include text(4);
        }
      }
      &__body {
        @include flex(unset, unset);
        flex-direction: column;
        gap: 6px;
        .quantity {
          font-size: $font-size-s;
          color: themed("primary");
          font-weight: 500;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .address {
          @include flex(center, unset);
          gap: 8px;
          i {
            font-size: $font-size-s;
            color: themed("text1");
          }
          span {
            font-size: $font-size-s;
            color: themed("text1");
          }
        }
      }
    }
  }
}
