@use "../../scss/" as *;

.HeroSlide {
  @include themify($themes) {
    background-position: center;
    // height: calc(100vh - $height-header);
     height: calc(102vh);
    background-repeat: no-repeat;
    background-size: cover;
    @include mobile{
      height: max-content;
    }
    .container {
      height: 100%;
      .HeroSlide__wrapper {
        height: 100%;
        @include flex(center, center);
        padding: $spacing 0;
        @include mobile {
          height: max-content;
          flex-direction: column-reverse;
          gap: 0;
        }
        &__left {
          @include mobile {
            height: 50%;
          }
          & > * {
            margin-bottom: 20px;
          }
          h4 {
            font-size: $font-size-xl;
            color: themed("text1");
          }
          span {
            font-size: $font-size-s;
            color: themed("text2");
            display: block;
          }
          ul {
            @include flex(center, unset);
            flex-wrap: wrap;
            gap: 20px;
            li {
              img {
                --size: 35px;
                height: var(--size);
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
              }
            }
          }
        }
        &__right {
          width: 100%;
          @include flex(center, center);
          @include mobile {
            height: 50%;
            width: 50%;
          }
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            @include mobile {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
