@use "../../scss/" as *;

.HeroSlide {
  @include themify($themes) {
    background-position: center;
    height: calc(100vh - $height-header);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      height: 100%;
      .HeroSlide__wrapper {
        height: 100%;
        @include flex(center, center);
        padding: $spacing 0;
        gap: $spacing;
        @include mobile{
          flex-direction: column;
        }
        &__left {
          & > * {
            margin-bottom: 20px;
          }
          h4 {
            font-size: $font-size-xl;
            color: themed("text1");
          }
          span {
            font-size: $font-size-s;
            color: themed("text2");
            display: block;
          }
          ul {
            @include flex(center, unset);
            gap: 20px;
            li {
              img {
                --size: 35px;
                height: var(--size);
                filter:grayscale(100%);
                -webkit-filter: grayscale(100%);
              }
            }
          }
        }
        &__right {
          width: 100%;
          @include flex(center, center);
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}
