@use "../../scss/" as *;

.itemCompany {
  @include themify($themes) {
    height: max-content;
    &__wrapper {
      background-color: themed("bg2");
      border: 1px solid themed("border");
      padding: 20px;
      border-radius: $border-radius-10;
      position: relative;
      @include flex(unset, space-between);
      flex-direction: column;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: themed("box-shadow");
      }
      .btn__follow {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        cursor: pointer;
        padding: 8px;
        transition: all 0.3s;
        &.active {
          i:nth-child(1) {
            display: none;
          }
          i:nth-child(2) {
            display: block;
          }
        }
        i {
          font-size: $font-size-l;
          color: $color-txt-red;
          &:nth-child(2) {
            display: none;
          }
        }
      }
      &__image {
        width: 100%;
        height: 260px;
        border-radius: 12px;
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      &__body {
        padding: 10px 0;
        .name {
          font-size: $font-size-m;
          color: themed("text1");
          margin-bottom: 8px;
          @include text(1);
        }
        .desc {
          @include flex(center, unset);
          gap: 10px;
          .province {
            @include flex(center, unset);
            gap: 8px;
            color: themed("text2");
          }
          .job {
            color: $color-primary;
          }
        }
      }
    }
  }
}
