@use "../../scss/" as *;

.notFound {
  @include themify($themes) {
    margin-top: $height-header;
    height: calc(100vh - $height-header);
    .container {
      height: 100%;
      .notFound__wrapper {
        @include flex(center, center);
        width: 100%;
        height: 100%;

        flex-direction: column;
        color: themed("text1");
        gap: 20px;
        i {
          font-size: 200px;
          color: themed("text1");
        }
        button {
          @include button($color-white, $color-primary);
        }
      }
    }
  }
}
