@use "../../scss/" as *;

.editJob {
  @include themify($themes) {
    margin-top: $height-header;
    padding: $spacing 0;
    min-height: 100vh;
    .container {
      & > button {
        font-size: $font-size-s;
        color: themed("text1");
        @include flex(center, unset);
        gap: 8px;
        margin-bottom: 20px;
        i {
          font-size: 1.2rem;
          transition: all 0.3s;
        }
        &:hover {
          i {
            transform: translateX(-8px);
          }
        }
      }
      .editJob__wrapper {
        background-color: themed("bg2");
        border-radius: $border-radius-20;
        padding: 20px;
        @include mobile {
          padding: 10px;
        }
        &__header {
          font-size: $font-size-l;
          color: $color-primary;
          margin-bottom: 20px;
          @include flex(center, center);
        }
        &__body {
          &__form {
            &__title {
              font-size: $font-size-m;
              color: $color-primary;
              padding: 18px 10px;
              width: 100%;
              background-color: themed("bg1");
              border-radius: $border-radius-10;
            }
            &__content {
              // padding: 10px;
              padding: 10px 0;
              &__item {
                margin-bottom: 20px;
                h6 {
                  font-size: $font-size-s;
                  color: themed("text1");
                  margin-bottom: 10px;
                }
                &__input {
                  @include flex(center, unset);
                  gap: 20px;
                  flex-wrap: wrap;
                  .select {
                    width: 360px;
                  }
                  input {
                    border: 1px solid themed("border");
                    border-radius: $border-radius-10;
                    padding: 16px;
                    width: 360px;
                    font-size: $font-size-s;
                    color: themed("text1");
                  }
                  input[type="checkbox"] {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                  }
                  input[type="radio"] {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                  }
                  select {
                    width: 360px;
                    padding: 16px;
                    background-color: themed("bg1");
                    border-radius: $border-radius-10;
                    font-size: $font-size-s;
                    color: themed("text1");
                    border: 1px solid themed("border");
                  }
                  &__child {
                    @include flex(center, unset);
                    gap: 8px;
                    cursor: pointer;
                    label {
                      font-size: $font-size-s;
                      color: themed("text1");
                      cursor: pointer;
                    }
                  }
                }
              }
              &__item__scale {
                &__input {
                  @include flex(center, unset);
                  gap: 10px;
                  input {
                    width: 120px;
                  }
                }
              }
              .quill {
                width: 100%;
                color: themed("text1");
                background-color: themed("bg2");
                overflow: hidden;
                .ql-toolbar {
                  background-color: themed("bg1");
                  border-top-left-radius: $border-radius-10;
                  border-top-right-radius: $border-radius-10;
                  .ql-formats {
                    color: themed("text1");
                  }
                }
                .ql-container {
                  border-bottom-left-radius: $border-radius-10;
                  border-bottom-right-radius: $border-radius-10;
                  .ql-editor {
                    font-size: $font-size-s;
                    height: 400px;
                    overflow: auto;
                  }
                }
              }
            }
          }
        }
        &__bottom {
          @include flex(center, center);
          gap: 20px;
          .btn-submit {
            @include button($color-white, $color-primary);
            min-width: 200px;
          }
          .btn-cancel {
            @include button-line(themed("text1"), themed("bg1"));
            min-width: 200px;
          }
        }
      }
    }
  }
}
