@use "../../scss/" as *;

.itemJob {
  @include themify($themes) {
    width: 100%;
    &.active {
      .itemJob__wrapper {
        border: 1px solid $color-primary;
      }
    }
    &__wrapper {
      @include flex(start, unset);
      gap: 10px;
      border: 1px solid themed("border");
      padding: 10px;
      border-radius: $border-radius-10;
      background-color: themed("bg2");
      cursor: pointer;
      min-height: 160px;
      &:hover {
        box-shadow: themed("box-shadow");
      }
      &__image {
        min-width: 80px;
        height: 80px;
        width: 80px;
        @include flex(center, unset);
        border: 1px solid themed("border");
        border-radius: $border-radius-10;
        overflow: hidden;
        @include mobile{
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__body {
        width: 100%;
        padding: 0 10px;
        & > * {
          margin-bottom: 8px;
        }
        &__header {
          @include flex(end, space-between);
          gap: 8px;
          .name {
            font-size: $font-size-s;
            color: themed("text1");
            font-weight: 500;
            @include text(2);
          }
          button {
            background-color: transparent;
            cursor: pointer;
            i {
              font-size: $font-size-l;
              color: $color-yellow;
            }
          }
        }
        &__company {
          font-size: $font-size-s;
          color: themed("text2");
          font-weight: 400;
          @include text(2);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        &__address {
          @include flex(center, unset);
          gap: 8px;
          i {
            font-size: $font-size-m;
            color: themed("text2");
          }
          span {
            font-size: $font-size-s;
            color: themed("text2");
          }
        }
        &__bottom {
          @include flex(center, unset);
          flex-wrap: wrap;
          gap: 8px;
          .wage {
            background-color: themed("bg1");
            padding: 6px 10px;
            border-radius: $border-radius-10;
            width: max-content;
            @include flex(center, unset);
            gap: 8px;
            i {
              font-size: $font-size-s;
              color: themed("text2");
            }
            span {
              @include text(1);
              color: themed("text2");
              font-size: $font-size-s;
              font-weight: 500;
            }
          }
          .workingForm {
            background-color: themed("bg1");
            padding: 6px 10px;
            border-radius: $border-radius-10;
            color: themed("text2");
            font-weight: 500;
            width: max-content;
          }
        }
      }
    }
  }
}
