@use "../../scss/" as *;

.postJob {
  @include themify($themes) {
    margin-top: $height-header;
    padding: $spacing 0;
    min-height: 100vh;
    .container {
      .postJob__wrapper {
        background-color: themed("bg2");
        border-radius: $border-radius-20;
        padding: 20px;
        &__header{
            font-size: $font-size-l;
            color: $color-primary;
            margin-bottom: 20px;
            @include flex(center, center);
        }
        &__body {
          &__form {
            &__title {
              font-size: $font-size-m;
              color: $color-primary;
              padding: 18px 10px;
              width: 100%;
              background-color: themed("bg1");
              border-radius: $border-radius-10;
            }
            &__content {
              padding: 10px;
              &__item {
                padding: 10px 0;
                h6 {
                  font-size: $font-size-s;
                  color: themed("text1");
                  margin-bottom: 10px;
                }
                &__input {
                  @include flex(center, unset);
                  gap: 20px;
                  input {
                    padding: 16px;
                    background-color: themed("bg1");
                    border-radius: $border-radius-10;
                    width: 360px;
                    font-size: $font-size-s;
                    border: 1px solid themed("border");
                    color: themed('text1');
                  }
                  input[type="checkbox"] {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                  }
                  input[type="radio"] {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                  }
                  select {
                    width: 360px;
                    padding: 16px;
                    background-color: themed("bg1");
                    border-radius: $border-radius-10;
                    font-size: $font-size-s;
                    color: themed('text1');
                    border: 1px solid themed("border");
                  }
                  &__child {
                    @include flex(center, unset);
                    gap: 8px;
                    cursor: pointer;
                    label {
                      font-size: $font-size-s;
                      color: themed("text1");
                    }
                  }
                }
              }
              &__item__scale {
                &__input {
                  @include flex(center, unset);
                  gap: 10px;
                  input {
                    width: 120px;
                  }
                }
              }
              .quill {
                width: 100%;
                color: themed("text1");
                background-color: themed("bg2");
                overflow: hidden;
                .ql-toolbar {
                  background-color: themed("bg1");
                  border-top-left-radius: $border-radius-10;
                  border-top-right-radius: $border-radius-10;
                  .ql-formats {
                    color: themed("text1");
                  }
                }
                .ql-container {
                  border-bottom-left-radius: $border-radius-10;
                  border-bottom-right-radius: $border-radius-10;
                  .ql-editor {
                    font-size: $font-size-s;
                    min-height: 300px;
                  }
                }
              }
            }
          }
          &__button{
            @include flex(center, center);
            width: 100%;
            button{
                @include button($color-white, $color-primary);
                min-width: 200px;
            }
          }
        }
      }
    }
  }
}
