@use "../../../scss/" as *;

.introCompany {
  @include themify($themes) {
    &__wrapper {
      padding: 18px;
      background-color: themed("bg2");
      border-radius: $border-radius-10;
      &__header {
        @include flex(center, space-between);
        margin-bottom: 20px;
        h4 {
          font-size: $font-size-l;
          color: themed("primary");
          font-weight: 500;
        }
        &__edit {
          @include flex(center, unset);
          gap: 8px;
          button {
            padding: 10px 14px;
            border-radius: $border-radius-10;
            border: 1px solid themed("border");
            @include flex(center, unset);
            gap: 8px;
            font-size: $font-size-s;
            color: themed("text1");
            cursor: pointer;
            &.btn-save {
              background-color: $color-primary;
              color: $color-white;
              border: none;
            }
          }
        }
      }
      &__body {
        &__content {
          color: themed("text1");
          font-size: $font-size-s;
          color: themed("text1");
          font-weight: 400;
          img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
          }

          ol {
            display: block;
            list-style-type: decimal;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
          }
        }
        &__edit {
          .quill {
            width: 100%;
            color: themed("text1");
            background-color: themed("bg2");
            overflow: hidden;
            .ql-toolbar {
              background-color: themed("bg1");
              border-top-left-radius: $border-radius-10;
              border-top-right-radius: $border-radius-10;
              .ql-formats {
                color: themed("text1");
              }
            }
            .ql-container {
              border-bottom-left-radius: $border-radius-10;
              border-bottom-right-radius: $border-radius-10;
              .ql-editor {
                overflow-y: scroll;
                height: 400px;
                font-size: $font-size-s;
                min-height: 300px;
              }
            }
          }
        }
      }
    }
  }
}
