@use "../../scss/" as *;

.candidate {
  @include themify($themes) {
    margin-top: $height-header;
    padding: $spacing 0;
    min-height: 100vh;
    .container {
      .candidate__wrapper {
        background-color: themed("bg2");
        border-radius: $border-radius-20;
        padding: 20px;
        &__header {
          margin-bottom: 20px;
          @include flex(center, space-between);
          gap: 8px;
          & > a .btn-cancel {
            font-size: $font-size-s;
            color: themed("text1");
            @include flex(center, unset);
            gap: 8px;
            padding: 12px 16px;
            border-radius: $border-radius-10;
            i {
              transform: translateY(1px);
              font-size: 1.2rem;
              transition: all 0.3s;
            }
            &:hover {
              background-color: themed("bg1");
            }
            span {
              @include mobile {
                display: none;
              }
            }
          }
          h2 {
            color: $color-primary;
            font-size: $font-size-l;
            text-align: center;
          }
          & > a .btn-hidden {
            @include button($color-white, $color-primary);
            span {
              @include mobile {
                display: none;
              }
            }
          }
        }
        &__body {
          &__control {
            @include flex(end, space-between);
            gap: 10px;
            margin-bottom: 20px;
            flex-wrap: wrap;
            @include tablet {
              flex-direction: column;
              align-items: center;
              gap: 20px;
            }
            &__left {
              @include mobile {
                width: 100%;
              }
              &__search {
                @include flex(center, unset);
                gap: 8px;
                &__input {
                  border-radius: $border-radius-10;
                  border: 1px solid themed("border");
                  padding: 0 10px;
                  @include flex(center, unset);
                  gap: 8px;
                  position: relative;
                  @include mobile {
                    width: 100%;
                  }
                  input {
                    font-size: $font-size-s;
                    color: themed("text1");
                    width: 300px;
                    padding: 16px 0;
                    margin-right: 18px;
                  }
                  .button-submit {
                    color: themed("text1");
                    transition: all .3s;
                    .icon-glass {
                      font-size: 1.2rem;
                    }
                    &:hover{
                      color: $color-primary;
                    }
                  }
                  .button-clear {
                    cursor: pointer;
                    position: absolute;
                    --size: 18px;
                    width: var(--size);
                    top: 50%;
                    right: 8px;
                    transform: translateY(-50%);
                    height: var(--size);
                    i {
                      font-size: 1.1rem;
                      color: themed("text1");
                    }
                  }
                }
              }
            }
            &__right {
              @include flex(center, unset);
              gap: 8px;
              flex-wrap: wrap;
              @include mobile {
                width: 100%;
                gap: 20px;
              }
              &__select {
                @include mobile {
                  width: 100%;
                  display: flex;
                  align-items: end;
                }
                .button-sort {
                  @include flex(center, unset);
                  gap: 8px;
                  position: relative;
                  .toogle {
                    font-size: $font-size-s;
                    color: themed("text1");
                    font-weight: 600;
                    padding: 12px 20px;
                    background-color: themed("bg2");
                    border-radius: $border-radius-10;
                    border: 1px solid themed("border");
                    cursor: pointer;
                    @include flex(center, unset);
                    gap: 8px;
                  }
                  .list {
                    position: absolute;
                    background-color: themed("bg2");
                    box-shadow: themed("box-shadow");
                    border-radius: $border-radius-10;
                    min-width: 100%;
                    width: max-content;
                    @include flex(start, unset);
                    flex-direction: column;
                    right: 0;
                    top: calc(100% + 8px);
                    overflow: hidden;
                    z-index: 99;
                    &__item {
                      padding: 10px;
                      font-size: $font-size-s;
                      color: themed("text1");
                      font-weight: 400;
                      cursor: pointer;
                      text-align: left;
                      width: 100%;
                      &.active {
                        font-weight: 600;
                      }
                      &:hover {
                        background-color: themed("bg1");
                      }
                    }
                  }
                }
              }
            }
          }
          &__list {
            width: 100%;
            &__control {
              margin-bottom: 20px;
              @include flex(center, unset);
              flex-wrap: wrap;
              gap: 8px;
              & > .button__checkAll {
                @include button(themed("text1"), themed("bg1"));
                label {
                  cursor: pointer;
                  @include flex(center, unset);
                  gap: 10px;
                  transition: all 0.3s;
                  width: max-content;
                  &:hover {
                    background-color: themed("bg1");
                  }
                  input[type="checkbox"] {
                    appearance: none;
                    --webkit-appearance: none;
                    height: 22px;
                    width: 22px;
                    background-color: themed("bg2");
                    border-radius: 5px;
                    border: 2px solid themed("border");
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s;
                    &:hover {
                      border-color: $color-primary;
                    }
                    &::after {
                      font-family: "Font Awesome 6 Free";
                      content: "\f00c";
                      font-size: 20px;
                      color: $color-white;
                      font-weight: 999;
                      display: none;
                    }
                    &:checked {
                      border-color: $color-primary;
                      background-color: $color-primary;
                      &::after {
                        display: block;
                      }
                    }
                  }
                }
              }
              & > .button__delete {
                @include button(themed("text1"), themed("bg1"));
              }
              & > a .button__send {
                @include button(themed("text1"), themed("bg1"));
              }
              & > .button__down {
                @include button(themed("text1"), themed("bg1"));
              }
            }
          }
          &__pgn {
            @include flex(center, space-between);
            @include mobile {
              justify-content: center;
            }
            &__left {
              @include mobile {
                display: none;
              }
              span {
                font-size: $font-size-s;
                font-weight: 500;
                color: themed("text2");
              }
            }
            &__right {
            }
          }
        }
      }
    }
  }
}

.selectCadidate {
  @include themify($themes) {
    position: relative;
    @include mobile {
      width: 100%;
    }
    &__header {
      top: -8px;
      position: absolute;
      left: 6px;
      font-size: 14px;
      color: themed("text2");
      background-color: themed("bg2");
      border-radius: $border-radius-10;
      padding: 0 8px;
    }
    &__toggle {
      padding: 12px 20px;
      background-color: themed("bg2");
      border-radius: $border-radius-10;
      border: 1px solid themed("border");
      @include flex(center, space-between);
      cursor: pointer;
      gap: 6px;
      color: themed("text1");
      transition: all 0.3s;
      user-select: none;
      z-index: 1;
      width: max-content;
      width: 200px;
      @include mobile {
        width: 100%;
      }
      @include mobile {
        border-radius: $border-radius-10;
        @include flex(center, space-between);
      }
      &.active {
        // background-color: $color-primary;
        // border-color: $color-primary;
        // color: $color-white;
        font-weight: 500;
      }
      &__title {
        @include flex(center, unset);
        gap: 8px;
        span {
          font-size: $font-size-s;
          @include text(1);
        }
        i:nth-child(1) {
          font-size: $font-size-s;
        }
      }
      .icon-down {
        @include flex(center, center);
        font-size: $font-size-s;
        transition: all 0.3s;
        &.open {
          transform: rotate(-180deg);
        }
      }
    }
    &__menu {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: max-content;
      min-width: 100%;
      background-color: themed("bg2");
      box-shadow: themed("box-shadow");
      border-radius: $border-radius-10;
      overflow: hidden;
      display: block;
      z-index: 99;
      @include mobile {
        width: 100%;
      }
      @include mobile {
        left: 50%;
        transform: translateX(-50%);
      }
      &__list {
        max-height: 340px;
        height: max-content;
        overflow-y: auto;
        &__item {
          padding: 10px;
          cursor: pointer;
          @include flex(center, unset);
          gap: 10px;
          transition: all 0.3s;
          min-width: 100%;
          max-width: 300px;
          width: max-content;
          &.active {
            font-weight: 600;
            background-color: themed("bg1");
          }
          &:hover {
            background-color: themed("bg1");
          }
          span {
            color: themed("text1");
            @include text(1);
            font-size: $font-size-s;
            @include mobile {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
