@use "../../scss/" as *;

.authUser {
  @include themify($themes) {
    @include flex(center, unset);
    flex-direction: column;
    margin-top: $height-header;
    min-height: 100vh;
    h2{
      padding: 20px;
      color: themed('text1');
      font-size: $font-size-l;
    }
    &__container {
      max-width: 1200px;
      margin: 0 auto;
      background-color: themed("bg2");
      padding: 20px;
      @include flex(center, unset);
      border-radius: $border-radius;
      &__left {
        max-width: 50%;
        padding: $spacing;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      &__right {
        min-width: 50%;
        padding: $spacing;
        border-radius: $border-radius;
        background-color: themed("bg1");
    
      }
    }
  }
}
