@use "../../scss/" as *;

.detailCompany {
  @include themify($themes) {
    margin-top: $height-header;
    min-height: 100vh;
    padding: $spacing 0;
    .container {
      .detailCompany__wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        &__header {
          background-color: themed("bg2");
          padding: 20px;
          border-radius: $border-radius-20;
          @include flex(center, space-between);
          width: 100%;
          &__main {
            @include flex(center, unset);
            gap: 10px;
            &__image {
              --size: 200px;
              width: var(--size);
              height: var(--size);
              overflow: hidden;
              border-radius: $border-radius-10;
              @include flex(center, center);
              border: 1px solid themed("border");
              box-shadow: themed("box-shadow");
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
            &__text {
              @include flex(unset, unset);
              flex-direction: column;
              gap: 8px;
              &__name {
                font-size: $font-size-l;
                color: themed("text1");
                font-weight: 500;
              }
              &__address {
                @include flex(center, unset);
                gap: 8px;
                i {
                  color: themed("text2");
                  font-size: $font-size-s;
                }
                span {
                  font-size: $font-size-s;
                  color: themed("text2");
                  font-weight: 400;
                }
              }
              &__scale {
                @include flex(center, unset);
                gap: 8px;
                gap: 8px;
                i {
                  color: themed("text2");
                  font-size: $font-size-s;
                }
                span {
                  font-size: $font-size-s;
                  color: themed("text2");
                  font-weight: 400;
                }
              }
              &__web {
                @include flex(center, unset);
                gap: 8px;
                gap: 8px;
                i {
                  color: themed("text2");
                  font-size: $font-size-s;
                }
                span {
                  font-size: $font-size-s;
                  color: themed("text2");
                  font-weight: 400;
                }
              }
            }
          }
          &__button {
            @include flex(center, unset);
            flex-direction: column;
            gap: 10px;
            span {
              font-size: $font-size-s;
              color: themed("text1");
              font-weight: 500;
            }
            button {
              @include button($color-white, $color-primary);
            }
          }
        }
        &__body {
          display: flex;
          &__left {
            background-color: themed("bg2");
            padding: 20px;
            border-radius: $border-radius-20;
            &__header {
              font-size: $font-size-m;
              font-weight: 500;
              color: $color-primary;
              margin: 10px 0;
            }
            &__intro {
              p {
                font-size: $font-size-s;
                color: themed("text1");
                font-weight: 400;
              }
            }
          }
          &__right {
            background-color: themed("bg2");
            min-height: 100px;
            border-radius: $border-radius-10;
            padding: 20px;
            h6 {
              font-size: $font-size-s;
              color: themed("text1");
              font-weight: 500;
              width: 100%;
              padding: 6px 0;
            }
            &__web {
              margin-bottom: 20px;
              a{
                color: $color-blue;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            &__list {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              a {
                font-size: $font-size-m;
                transition: all .3s;
                i {
                  color: themed("text1");
                }
                &:hover{
                  i{
                  color: themed("text2");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
