@use "../../scss/" as *;

.search {
  @include themify($themes) {
    min-height: 100vh;
    margin-top: $height-header;
    &__wrapper {
      padding: $spacing 0;
      .container {
        & > * {
          margin-bottom: 20px;
        }
        .search__banner {
          z-index: 1;
          &__wrapper {
            background-color: themed("bg2");
            padding: $spacing;
            border-radius: $border-radius-20;
            @include flex(center, unset);
            flex-direction: column;
            background-image: url("https://img.freepik.com/free-vector/professional-people-work_24908-58137.jpg?w=1800&t=st=1698553289~exp=1698553889~hmac=d8164851e89426bb9719062b0b31f7ea569b4beeaa5ad36e2efdf89aad4913e4");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include mobile{
              padding: 20px 10px;
            }
            &__input {
              background-color: themed("bg1");
              border-radius: $border-radius-10;
              @include flex(center, unset);
              width: max-content;
              gap: 8px;
              @include mobile{
                width: 100%;
              }
              &__career {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  height: 50%;
                  width: 1px;
                  background-color: themed("border");
                  right: -4px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              &__province {
                @include mobile{
                  display: none
                }
              }
              &__btn-search {
                @include button($color-white, $color-primary);
                margin: 10px 10px;
              }
              
            }
            &__filter {
              margin-top: 20px;
              @include flex(center, center);
              flex-wrap: wrap;
              gap: 10px;
            }
          }
        }
        .search__list {
          &__header {
            @include flex(center, space-between);
            padding: 10px 0;
            h4 {
              font-size: $font-size-m;
              color: themed("text1");
              font-weight: 600;
              user-select: none;
            }
            &__sort {
              @include flex(center, unset);
              gap: 8px;
              .dropdown {
                position: relative;
                .header {
                  font-size: $font-size-s;
                  color: themed("text1");
                  font-weight: 600;
                  padding: 10px 20px;
                  background-color: themed("bg2");
                  border-radius: $border-radius-10;
                  cursor: pointer;
                  @include flex(center, unset);
                  gap: 8px;
                }
                .list {
                  position: absolute;
                  background-color: themed("bg2");
                  box-shadow: themed("box-shadow");
                  border-radius: $border-radius-10;
                  width: max-content;
                  @include flex(start, unset);
                  flex-direction: column;
                  right: 0;
                  top: calc(100% + 8px);
                  overflow: hidden;
                  z-index: 99;
                  &__item {
                    padding: 10px;
                    font-size: $font-size-s;
                    color: themed("text1");
                    font-weight: 400;
                    cursor: pointer;
                    text-align: left;
                    width: 100%;
                    &.active {
                      font-weight: 600;
                    }
                    &:hover {
                      background-color: themed("bg1");
                    }
                  }
                }
              }
            }
          }
          &__body {
            flex-wrap: wrap;
            &__side {
              &__btn {
                @include flex(center, center);
                padding: 20px 0;
                button {
                  @include button($color-white, $color-primary);
                }
              }
            }
            &__preview {
              width: 100%;
              height: calc(100vh - $height-header);
              position:sticky;
              top: $height-header;
              &__wrapper {
                border-radius: $border-radius-20;
                background-color: themed("bg2");
                height: 100%;
                width: 100%;
              }
            }
          }
         
        }
      }
    }
  }
}
