@use "../../scss/" as *;

.HeroSlide {
  ul {
    list-style: none;
  }
  @include themify($themes) {
    background-position: center;
    // height: calc(100vh - $height-header);
    height: calc(102vh);
    background-repeat: no-repeat;
    background-size: cover;
    @include mobile {
      height: max-content;
    }
    .container {
      height: 100%;
      .HeroSlide__wrapper {
        height: 100%;
        @include flex(center, center);
        padding: $spacing 0;
        @include mobile {
          height: max-content;
          flex-direction: column-reverse;
          gap: 0;
        }
        &__left {
          @include mobile {
            height: 50%;
          }
          & > * {
            margin-bottom: 20px;
          }
          & > h4 {
            font-size: $font-size-xl;
            color: themed("text1");
          }
          & > span {
            font-size: $font-size-s;
            color: themed("text2");
            display: block;
          }
          &__list-company {
            @include flex(center, unset);
            flex-wrap: wrap;
            gap: 20px;
            li {
              img {
                --size: 35px;
                height: var(--size);
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
              }
            }
          }
        }
        &__right {
          width: 100%;
          @include flex(center, center);
          @include mobile {
            height: 50%;
            width: 50%;
          }
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            animation: animation_image 8s ease-in-out infinite 1s;
            @include mobile {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@keyframes animation_image {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.searchHeroSlide {
  @include themify($themes) {
    width: 100%;
    &__wrapper {
      background-color: themed("bg2");
      border-radius: $border-radius-10;
      @include flex(center, space-around);

      &__item {
        flex: 1;
        padding: 10px;
        width: 100%;
        border: 2px solid transparent;
        border-radius: $border-radius-10;
        position: relative;
        &:focus-within {
          border: 2px solid $color-primary;
        }
        &__input {
          @include flex(center, unset);
          flex-wrap: nowrap;
          width: 100%;
          position: relative;
          & > i {
            --size: 20px;
            width: var(--size);
            height: var(--size);
            font-size: 1.2rem;
            color: themed("text1");
          }
          input {
            height: 100%;
            width: 100%;
            flex: 1;
            font-size: $font-size-s;
            padding: 10px 8px;
            color: themed("text1");
          }
          .btn-clear {
            position: absolute;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
            i {
              color: themed("text2");
              font-size: 1.1rem;
            }
          }
        }
        &__list {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          background-color: themed("bg2");
          width: 100%;
          border-radius: $border-radius-10;
          overflow: hidden;
          z-index: 99;
          display: none;
          &.open {
            display: block;
          }
          ul {
            @include flex(unset, unset);
            flex-direction: column;
            align-items: start;
            max-height: 280px;
            overflow-y: auto;
            li {
              padding: 12px;
              width: 100%;
              cursor: pointer;
              @include flex(center, unset);
              gap: 8px;
              color: themed("text1");
              &:hover {
                background-color: themed("bg1");
              }
            }
          }
        }
      }
      &__item__province {
        @include mobile {
          display: none;
        }
      }

      .btn-search {
        @include button($color-white, $color-primary);
        margin: 10px 10px;
      }
    }
  }
}
