@use "../../scss/" as *;

.candidate {
  @include themify($themes) {
    margin-top: $height-header;
    padding: $spacing 0;
    min-height: 100vh;
    .container {
      .candidate__wrapper {
        background-color: themed("bg2");
        border-radius: $border-radius-20;
        padding: 20px;
        &__header {
          font-size: $font-size-l;
          color: $color-primary;
          margin-bottom: 20px;
          @include flex(center, center);
        }
        &__body {
          &__control {
            @include flex(center, unset);
            gap: 10px;
            margin-bottom: $spacing;
            h4 {
              font-size: $font-size-s;
              color: themed("text1");
              font-weight: 500;
            }
            &__select {
              width: 380px;
            }
          }
          &__list {
            width: 100%;
          }
        }
      }
    }
  }
}
