@use "../../scss/" as *;

.detailCompany {
  @include themify($themes) {
    margin-top: $height-header;
    padding: $spacing 0;
    min-height: 100vh;
    .container {
      .detailCompany__wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        &__header {
          background-color: themed("bg2");
          // padding: 30px;
          border-radius: $border-radius-20;
          // @include flex(end, space-between);
          width: 100%;
          @include mobile {
            flex-direction: column;
            gap: 20px;
            align-items: center;
          }
          &__bg {
            width: 100%;
            height: 260px;
            border-radius: $border-radius-20;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &__main {
            @include flex(start, space-between);
            gap: 20px;
            padding: 20px;
            @include mobile {
              flex-direction: column;
            }
            @include mobile {
              @include flex(center, unset);
            }
            &__left {
              @include flex(center, unset);
              gap: 10px;
              @include mobile {
                align-items: center;
                flex-direction: column;
              }
              &__image {
                --size: 200px;
                width: var(--size);
                height: var(--size);
                @include flex(center, center);
                position: relative;
                margin-top: -100px;
                border-radius: 50%;
                @include mobile {
                }
                img {
                  border: 4px solid themed("bg2");
                  border-radius: 50%;
                  overflow: hidden;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
                &:hover &__edit {
                  display: flex;
                }
                &__edit {
                  position: absolute;
                  right: 14px;
                  bottom: 14px;
                  background-color: themed("bg1");
                  @include flex(center, center);
                  transition: all 0.3s;
                  cursor: pointer;
                  --size: 36px;
                  width: var(--size);
                  height: var(--size);
                  border-radius: 50%;
                  i {
                    font-size: 1.2rem;
                    color: themed("text2");
                  }
                  input {
                    display: none;
                  }
                }
              }
              &__text {
                @include flex(unset, unset);
                flex-direction: column;
                gap: 8px;
                color: themed("text1");
                @include mobile {
                  align-items: center;
                }
                & > .tag {
                  font-size: $font-size-s;
                  color: themed("text2");
                }
                & > .name-company {
                  font-size: $font-size-l;
                  color: themed("text1");
                  font-weight: 500;
                }
                & > .desc-company {
                  @include flex(center, unset);
                  gap: 20px;
                  flex-wrap: wrap;
                  @include mobile {
                    flex-direction: column;
                  }
                  & > div {
                    @include flex(center, unset);
                    gap: 4px;
                    i {
                      --size: 20px;
                      width: var(--size);
                      height: var(--size);
                      color: themed("text2");
                      font-size: $font-size-s;
                      @include flex(center, center);
                    }
                    span {
                      font-size: $font-size-s;
                      color: themed("text2");
                      font-weight: 400;
                    }
                    a {
                      color: $color-txt-blue;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
            & > .button__edit {
              @include flex(center, unset);
              flex-direction: column;
              gap: 10px;
              span {
                font-size: $font-size-s;
                color: themed("text1");
                font-weight: 500;
              }
              button {
                @include button($color-white, $color-primary);
              }
            }
            & > .button__follow {
              .btn-follow {
                @include button($color-white, $color-primary);
              }
              .btn-unFollow {
                @include button(themed("text1"), themed("bg1"));
                width: 132px;
                &:hover {
                  @include button(rgba(244, 33, 46), $color-red);
                }
                &:hover span {
                  display: none;
                }
                &:hover::before {
                  content: "Bỏ theo dõi";
                  display: inline;
                }
              }
            }
          }
        }
        &__body {
          @include flex(unset, unset);
          flex-wrap: wrap-reverse;
          & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          & > div:nth-child(2) {
            .recomKeyword {
              @include mobile {
                display: none;
              }
            }
          }
          &__left {
            &__control {
              @include flex(center, unset);
              gap: 8px;
              padding: 12px;
              border-radius: $border-radius-10;
              background-color: themed("bg2");
              overflow: hidden;
              margin-bottom: 20px;
              @include mobile {
                display: none;
              }
              button {
                height: 100%;
                padding: 10px 20px;
                // background-color: themed("bg1");
                border-radius: $border-radius-10;
                font-size: $font-size-s;
                border: 1px solid transparent;
                color: themed("text1");
                cursor: pointer;
                transition: all 0.3s;
                span {
                  @include text(3);
                }
                &:hover {
                  background-color: themed("bg1");
                  border: 1px solid themed("border");
                }
                &.active {
                  border: 1px solid themed("border");
                  background-color: themed("bg1");
                }
              }
            }

            &__control-mobile {
              @include flex(center, unset);
              gap: 6px;
              // height: 100%;
              display: none;
              padding: 12px;
              border-radius: $border-radius-10;
              background-color: themed("bg2");
              margin-bottom: 20px;
              @include mobile {
                display: flex;
              }
              button {
                height: 100%;
                padding: 16px;
                border-radius: $border-radius-10;
                border: 1px solid transparent;
                font-size: $font-size-s;
                color: themed("text1");
                cursor: pointer;
                @include flex(center, unset);
                gap: 8px;
                span {
                  @include text(3);
                }
                &.active {
                  background-color: themed("bg1");
                  border: 1px solid themed("border");
                }
                &:hover {
                  background-color: themed("bg1");
                  border: 1px solid themed("border");
                }
              }

              .button__more {
                position: relative;
                &__dropdown {
                  position: absolute;
                  width: max-content;
                  right: 0;
                  top: 100%;
                  @include flex(center, unset);
                  flex-direction: column;
                  background-color: themed("bg2");
                  box-shadow: themed("box-shadow");
                  border-radius: $border-radius-10;
                  z-index: 99;
                  padding: 8px;
                  gap: 8px;
                  button,
                  a {
                    width: 100%;
                  }
                }
              }
            }

            &__content {
              .companiesSave {
                flex-wrap: wrap;
              }
              .jobsSave {
                flex-wrap: wrap;
              }
            }
          }
          &__right {
            background-color: themed("bg2");
            min-height: 100px;
            border-radius: $border-radius-10;
            padding: 20px;
            overflow: hidden;
            @include mobile {
              position: unset;
            }
            h6 {
              font-size: $font-size-s;
              color: themed("text1");
              font-weight: 500;
              width: 100%;
              padding: 6px 0;
            }
            & > div {
              @include flex(center, unset);
              gap: 8px;
              color: themed("text2");
              i {
                --size: 14px;
                width: var(--size);
                height: var(--size);
                @include flex(center, center);
                font-size: 1.1rem;
              }
              a {
                font-size: $font-size-s;
                color: $color-txt-blue;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            &__list {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              button {
                i {
                  transition: all 0.3s;
                  font-size: 1.2rem;
                  color: themed("text1");
                }
                &:hover {
                  i {
                    color: themed("text2");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
