@use "../../scss/" as *;

.header {
  @include themify($themes) {
    .header__wrapper {
      // box-shadow: themed(box-shadow);
      // background-color: themed("bg2");
      background-color: transparent;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transition: all 0.3s;
      &.shrink {
        box-shadow: themed(box-shadow);
        background-color: themed("bg2");
      }
      &.bg {
        box-shadow: themed(box-shadow);
        background-color: themed("bg2");
      }
      @include mobile {
        display: none;
      }
      .container {
        @include flex(center, space-between);
        height: $height-header;
        .header__wrapper__logo {
          @include flex(center, unset);
          gap: 10px;
          cursor: pointer;
          img {
            --size: 40px;
            width: var(--size);
            height: var(--size);
          }
          h2 {
            font-size: $font-size-l;
            color: themed("text1");
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
          }
        }
        .header__wrapper__control {
          height: 100%;
          ul {
            height: 100%;
            @include flex(center, space-between);
            gap: 20px;
            li {
              height: 100%;
              a {
                @include flex(center, center);
                gap: 4px;
                height: 100%;
                padding: 0 10px;
                position: relative;
                svg, i, box-icon {
                  --size: 20px;
                  width: var(--size);
                  height: var(--size);
                  color: themed("text1");
                }
                span {
                  font-weight: 500;
                  color: themed("text1");
                  font-weight: 500;
                  font-size: $font-size-s;
                }
                &::after {
                  content: "";
                  position: absolute;
                  height: 4px;
                  width: 100%;
                  background-color: $color-primary;
                  bottom: 0;
                  border-radius: $border-radius-20;
                  left: 50%;
                  transform: translateX(-50%);
                  transition: all 0.3s;
                  width: 0;
                }
                &:hover::after {
                  width: 100%;
                }
                &:hover {
                  svg {
                    color: themed("primary");
                  }
                  span {
                    color: themed("primary");
                  }
                }
                &.active {
                  width: 100%;
                  svg {
                    color: themed("primary");
                  }
                  span {
                    color: themed("primary");
                  }
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        .header__wrapper__auth {
          @include flex(center, unset);
          gap: 10px;
          &__darkMode {
            background-color: transparent;
            cursor: pointer;
            i {
              color: themed("text1");
              font-size: $font-size-l;
            }
          }
          &__user {
            @include button($color-white, $color-primary);
          }
          &__company {
            a {
              font-size: $font-size-s;
              font-weight: 500;
              color: themed("text1");
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
