@use "../../scss/" as *;

.table__candidate {
  @include themify($themes) {
    &__header {
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 2fr 1.5fr 3fr 1.5fr 1fr;
      padding: 20px 10px;
      gap: 8px;
      background-color: themed("bg1");
      border-radius: $border-radius-10;
      margin-bottom: 8px;
      border: 1px solid themed("border");
      align-items: center;
      text-align: center;
      @include tablet {
        display: none;
      }
      & > span {
        font-size: $font-size-s;
        color: themed("text2");
        width: 100%;
      }
    }
    &__body {
      @include flex(center, unset);
      flex-direction: column;
      gap: 8px;
      &__row {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 2fr 1.5fr 3fr 1.5fr 1fr;
        padding: 10px;
        gap: 8px;
        border-radius: $border-radius-10;
        border: 1px solid themed("border");
        background-color: themed("bg2");
        align-items: center;
        transition: all 0.3s;
        @include tablet {
          display: flex;
          flex-direction: column;
          align-items: start;
        }
        &:hover {
          border: 1px solid $color-primary;
        }
        &__item {
          color: themed("text1");
          font-size: $font-size-s;
          text-align: center;
          @include tablet {
            width: 100%;
            display: grid;
            grid-template-columns: 11ch auto;
            padding: 0.5rem 1rem;
            gap: 0.5rem;
            text-align: start;
            &::before {
              content: attr(data-cell) ": ";
              font-weight: 500;
            }
          }
          &__info {
            @include flex(start, start);
            flex-direction: column;
            & > div {
              @include flex(center, start);
              gap: 8px;
              h6,
              span {
                font-size: $font-size-s;
                color: themed("text1");
              }
            }
          }
          .status {
            color: $color-white;
            font-size: $font-size-s;
            font-weight: 500;
            padding: 10px 16px;
            border-radius: $border-radius-10;
            @include flex(center, center);
            gap: 8px;
            width: max-content;
            margin: 0 auto;
            &.status-1 {
              background-color: $color-blue;
              color: $color-txt-blue;
            }
            &.status-2 {
              background-color: $color-yellow;
              color: $color-txt-yellow;
            }
            &.status-3 {
              background-color: $color-red;
              color: $color-txt-red;
            }
            &.status-4 {
              background-color: $color-green;
              color: $color-txt-green;
            }
          }
          .button-eye {
            padding: 16px 20px;
            border-radius: $border-radius-10;
            background-color: $color-purple;
            color: $color-txt-purple;
            font-size: $font-size-s;
            font-weight: 500;
            transition: all 0.3s;
            &:hover {
              background-color: $color-txt-purple;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
