@use "../../scss/" as *;

.dropdown {
  position: relative;
  @include themify($themes) {
    .dropdown__toggle {
      padding: 12px 20px;
      background-color: themed("bg2");
      border-radius: $border-radius-30;
      border: 1px solid themed("border");
      @include flex(center, unset);
      cursor: pointer;
      gap: 6px;
      color: themed("text1");
      transition: all 0.3s;
      user-select: none;
      z-index: 1;
      &.active {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
      }
      &:hover {
        background-color: themed("bg2");
      }
      &.active {
        background-color: $color-primary;
        color: $color-white;
      }
      span {
        font-size: $font-size-s;
      }
      i:nth-child(1) {
        font-size: $font-size-s;
      }
      i:nth-child(2) {
        @include flex(center, center);
        font-size: $font-size-s;
        transition: all 0.3s;
        &.open {
          transform: rotate(-180deg);
        }
      }
    }
    .dropdown__menu {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: max-content;
      min-width: 240px;
      background-color: themed("bg2");
      box-shadow: themed("box-shadow");
      border-radius: $border-radius-10;
      overflow: hidden;
      display: block;
      z-index: 99;
      @include mobile{
        left: 50%;
        transform: translateX(-50%);
      }
      &__search {
        width: 100%;
        @include flex(center, unset);
        background-color: themed("bg1");
        padding: 8px;
        position: relative;
        i {
          padding: 10px;
          font-size: 1.1rem;
          color: themed("text1");
        }
        input {
          flex: 1;
          font-size: $font-size-s;
          color: themed("text1");
          padding: 8px 0;
        }
        .btn-clear {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4px;
          border-radius: 50%;
          padding: 6px;
          transition: all .3s;
          &:hover{
            background-color: themed('bg2');
          }
          i {
            @include flex(center, center);
            --size: 20px;
            width: var(--size);
            height: var(--size);
            font-size: 1.1rem;
            color: themed("text1");
          }
        }
      }
      &__list {
        max-height: 340px;
        height: max-content;
        overflow-y: scroll;
        &__item {
          label {
            padding: 10px;
            cursor: pointer;
            @include flex(center, unset);
            gap: 10px;
            transition: all 0.3s;
            &:hover {
              background-color: themed("bg1");
            }
            input {
              min-height: 20px;
              min-width: 20px;
              cursor: pointer;
            }
            span {
              color: themed("text1");
              font-size: $font-size-s;
            }
          }
        }
      }
    }
  }
}
