@use "../../scss/" as *;

.dropdown {
  position: relative;
  @include themify($themes) {
    .dropdown__toggle {
      padding: 12px 20px;
      background-color: themed("bg1");
      border-radius: $border-radius-30;
      border: 2px solid themed("bg1");
      @include flex(center, unset);
      cursor: pointer;
      gap: 6px;
      color: themed("text1");
      transition: all 0.3s;
      user-select: none;
      z-index: 1;
      &.active {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
      }
      &:hover {
        background-color: themed("bg2");
      }
      &.active {
        background-color: $color-primary;
        color: $color-white;
      }
      span {
        font-size: $font-size-s;
      }
      i {
        @include flex(center, center);
        font-size: $font-size-s;
        transition: all 0.3s;
        &.open {
          transform: rotate(-180deg);
        }
      }
    }
    .dropdown__menu {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: max-content;
      min-width: 240px;
      background-color: themed("bg2");
      box-shadow: themed("box-shadow");
      border-radius: $border-radius-10;
      overflow: hidden;
      display: block;
      z-index: 99;
      &__search {
        width: 100%;
        @include flex(center, unset);
        background-color: themed("bg1");
        padding: 8px;
        i {
          padding: 10px;
          font-size: 1.1rem;
          color: themed("text1");
        }
        input {
          flex: 1;
          font-size: $font-size-s;
          color: themed("text1");
          padding: 8px 0;
        }
      }
      &__list {
        max-height: 340px;
        height: max-content;
        overflow-y: scroll;
        &__item {
          label {
            padding: 10px;
            cursor: pointer;
            @include flex(center, unset);
            gap: 10px;
            transition: all 0.3s;
            &:hover {
              background-color: themed("bg1");
            }
            input {
              min-height: 20px;
              min-width: 20px;
              cursor: pointer;
            }
            span {
              color: themed("text1");
              font-size: $font-size-s;
            }
          }
        }
      }
    }
  }
}
