@use "./scss/" as *;


.App {
  @include themify($themes) {
    background-color: themed('bg1');
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
