@use "../../scss/" as *;

.layout__auth {
  @include themify($themes) {
    &__main {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &__control {
        height: 60px;
        @include flex(center, start);
        button {
          @include flex(center, unset);
          gap: 8px;
          font-size: $font-size-s;
          font-weight: 500;
          color: themed('text1');
          i {
            transition: all 0.3s;
          }
          &:hover {
            i {
              transform: translateX(-6px);
            }
          }
        }
      }
      &__content {
        @include flex(center, center);
        gap: 20px;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 60px);
        padding-bottom: $spacing;
        position: relative;
        &__logo {
          @include flex(center, center);
          gap: 8px;
          img {
            --size: 50px;
            width: var(--size);
            height: var(--size);
            object-fit: contain;
          }
          h2 {
            color: $color-primary;
            font-size: $font-size-l;
            font-weight: 600;
          }
        }
        &__box {
          background-color: themed("bg2");
          padding: 40px 60px;
          border-radius: $border-radius-20;
          // width: 500px;
          @include flex(center, center);
          @include mobile {
            width: 100%;
            padding: 40px 20px;
          }
        }
      }
    }
  }
}
