@forward "./variavles";
@forward "./mixin";
@forward "./breakpoint";
@forward "./grid";

@use './variavles' as *;
@use './mixin' as *;
@use './breakpoint' as *;
@use './grid' as *;



.container {
    max-width: 1200px;
    margin: 0 auto;
    @include tablet{
        width: 100%;
        padding: 0 20px;
    }
    @include mobile{
        width: 100%;
        padding: 0 10px;
    }
}

button, input, textarea{
    outline: unset;
    border: unset;
    background-color: unset;
}

ul, li{
    list-style: none;
}

a{
    color: unset;
    text-decoration: unset;
}
