$color-body-light: #F3F4FA;
$color-main-light: #fff;
$color-txt-light : #2d2d2d;
$color-txt-light-extra: #4E4D4F;

$color-body-dark: #121212;
$color-main-dark: #202020;
$color-txt-dark : #fff;
$color-txt-dark-extra: #F3F4FA;

$color-primary: #007aff;
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #3498db;
$color-green: #4CAF50;
$color-yellow: #ff9f0a;
$color-red: #ff453a;
$color-orange: #FF9066;

$font-size-s: 1rem;
$font-size-m: 1.225rem;
$font-size-l: 1.5625rem;
$font-size-xl: 2rem;

$spacing: 48px;
$spacing-mobile: 24px;

$box-shadow-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-dark: rgba(51, 51, 58, 0.2) 0px 7px 29px 0px;
$border-radius-30: 30px;
$border-radius-20: 20px;
$border-radius-10: 10px;
$border-radius: 10px;

$width-siderbar-open: 250px;
$width-siderbar-close: 80px;

$height-header: 60px;

$mobile-width: 700px;
$tablet-width: 1024px;

$transition: all .3s;



