@use "../../scss/" as *;
.resetPassword {
  @include themify($themes) {
    width: 380px;
    @include mobile {
      width: unset;
    }
    &__header {
      @include flex(center, unset);
      flex-direction: column;
      margin-bottom: 20px;
      gap: 10px;
      width: 100%;
      h4 {
        font-size: $font-size-m;
        color: themed("text1");
        font-weight: 600;
        text-align: center;
      }
      span {
        font-size: $font-size-s;
        color: themed("text2");
        font-weight: 400;
        text-align: center;
        width: 100%;
      }
    }
    &__body {
      width: 100%;
      .item {
        @include flex(center, unset);
        margin-bottom: 20px;
        width: 100%;
        position: relative;
        background-color: themed("bg2");
        border: 1px solid themed("border");
        border-radius: $border-radius;
        display: flex;
        & > i {
          --size: 40px;
          min-width: var(--size);
          height: var(--size);
          @include flex(center, center);
          color: themed("text2");
          font-size: 1.1rem;
        }
        input {
          padding: 20px 8px;
          font-size: $font-size-s;
          color: themed("text1");
          width: 100%;
          &:focus {
            border-color: $color-primary;
          }
          &:not(:placeholder-shown) + label,
          &:focus + label {
            top: 0;
          }
        }
        label {
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translateY(-50%);
          padding: 8px;
          background-color: themed("bg2");
          border-radius: $border-radius-10;
          font-size: $font-size-s;
          font-weight: 500;
          color: themed("text2");
          transition: all 0.3s;
          user-select: none;
        }
        .tooglePassword {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          cursor: pointer;
          color: themed("text2");
          font-size: 1.2rem;
        }
      }
      .notify {
        &__err {
          gap: 10px;
          @include flex(center, unset);
          width: 100%;
          border-radius: $border-radius-10;
          padding: 10px;
          background-color: $color-red;
          color: $color-txt-red;
        }
        &__check-email {
          gap: 10px;
          @include flex(center, unset);
          padding: 10px;
          border-radius: $border-radius-10;
          width: 100%;
          background-color: $color-blue;
          color: $color-txt-blue;
        }
        i {
          font-size: 2rem;
        }
        span {
          font-size: $font-size-s;
        }
      }
    }
    &__control {
      margin-top: 20px;
      .btn-auth {
        @include button($color-white, $color-primary);
        width: 100%;
      }
    }
    .link-signup {
      @include flex(center, center);
      gap: 8px;
      font-size: $font-size-s;
      color: themed("text1");
      margin-top: 20px;
      a {
        font-size: $font-size-s;
        color: themed("text1");
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
