@use "../../scss/" as *;

.candidateHide {
  @include themify($themes) {
    margin-top: $height-header;
    padding: $spacing 0;
    min-height: 100vh;
    .container {
      .candidateHide__wrapper {
        background-color: themed("bg2");
        border-radius: $border-radius-20;
        padding: 20px;
        &__header {
          margin-bottom: 20px;
          @include flex(center, space-between);
          button {
            font-size: $font-size-s;
            color: themed("text1");
            @include flex(center, unset);
            gap: 8px;
            i {
              font-size: 1.2rem;
              transition: all 0.3s;
            }
            &:hover {
              i {
                transform: translateX(-8px);
              }
            }
          }
          h2 {
            color: $color-primary;
            font-size: $font-size-l;
          }
        }
        &__body {
          &__control {
            @include flex(end, space-between);
            gap: 10px;
            margin-bottom: 20px;
            flex-wrap: wrap;
            @include tablet {
              flex-direction: column;
              align-items: center;
              gap: 20px;
            }
            &__left {
              @include mobile {
                width: 100%;
              }
              &__search {
                border-radius: $border-radius-10;
                border: 1px solid themed("border");
                padding: 0 10px;
                @include flex(center, unset);
                gap: 8px;
                position: relative;
                input {
                  font-size: $font-size-s;
                  color: themed("text1");
                  width: 300px;
                  padding: 16px 0;
                  margin-right: 18px;
                }
                .icon-glass {
                  font-size: 1.2rem;
                  color: themed("text1");
                }
                .button-clear {
                  cursor: pointer;
                  position: absolute;
                  --size: 18px;
                  width: var(--size);
                  top: 50%;
                  right: 8px;
                  transform: translateY(-50%);
                  height: var(--size);
                  i {
                    font-size: 1.1rem;
                    color: themed("text1");
                  }
                }
              }
            }
            &__right {
              @include flex(center, unset);
              gap: 8px;
              flex-wrap: wrap;
              @include mobile {
                width: 100%;
                gap: 20px;
              }
              &__select {
                @include mobile {
                  width: 100%;
                  display: flex;
                  align-items: end;
                }
                .button-sort {
                  @include flex(center, unset);
                  gap: 8px;
                  position: relative;
                  .toogle {
                    font-size: $font-size-s;
                    color: themed("text1");
                    font-weight: 600;
                    padding: 12px 20px;
                    background-color: themed("bg2");
                    border-radius: $border-radius-10;
                    border: 1px solid themed("border");
                    cursor: pointer;
                    @include flex(center, unset);
                    gap: 8px;
                  }
                  .list {
                    position: absolute;
                    background-color: themed("bg2");
                    box-shadow: themed("box-shadow");
                    border-radius: $border-radius-10;
                    min-width: 100%;
                    width: max-content;
                    @include flex(start, unset);
                    flex-direction: column;
                    right: 0;
                    top: calc(100% + 8px);
                    overflow: hidden;
                    z-index: 99;
                    &__item {
                      padding: 10px;
                      font-size: $font-size-s;
                      color: themed("text1");
                      font-weight: 400;
                      cursor: pointer;
                      text-align: left;
                      width: 100%;
                      &.active {
                        font-weight: 600;
                      }
                      &:hover {
                        background-color: themed("bg1");
                      }
                    }
                  }
                }
              }
            }
          }

          &__list {
            width: 100%;
            &__delete {
              margin-bottom: 20px;
              button {
                color: $color-txt-red;
                padding: 12px 20px;
                @include flex(center, center);
                gap: 8px;
                border-radius: $border-radius-10;
                border: 1px solid themed("border");
                span {
                  font-size: $font-size-s;
                  color: $color-txt-red;
                }
                i {
                  font-size: 1.2rem;
                }
                &:hover {
                  background-color: themed("bg1");
                }
              }
            }
          }
          &__pgn {
            @include flex(center, space-between);
            &__left {
              span {
                font-size: $font-size-s;
                font-weight: 500;
                color: themed("text2");
              }
            }
            &__right {
            }
          }
        }
      }
    }
  }
}
